#game {
  border: 1px solid black;
}

button {
  font-size: 24px;
  padding: 16px 32px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 8px;
}

.character {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  background-color: red;
}
